{% extends "base.html" %}

{% block content %}
<h1>Python DApp - Simple Storage</h1>

<h1>Home</h1>
<h1>Hi, {{ current_user.username }}!</h1>
<a href="{{ url_for('create_post') }}">Create New Post</a>

{% if wallet %}
your wallet: {{wallet}}
{% else %}
<a href="{{ url_for('add_wallet') }}">Add Wallet</a>
{% endif %}
<a href="{{ url_for('upload_file') }}">File Upload</a>

{% for post in posts %}
<div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
{% endfor %}


<table class="table table-striped-columns">
  <thead>
    <tr>
      <th scope="col">FileName</th>
      <th scope="col">Access List</th>
      <th scope="col">Share</th>
    </tr>
  </thead>
  <tbody>
  {% if files %}
  {% for file in files %}
    <tr>
      <td>{{file.file_name}}</td>
      <td>{%for usr in file.users%}{{usr.username}}{%endfor%}</td>
      <td>Share</td>
    </tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>


{% endblock %}
